
.idea/encodings.xml
.idea/vcs.xml
.idea/workspace.xml
venv/Scripts/pythonw.exe
.idea/Python_learn.iml
.idea/modules.xml
media/douyin_dl1/douyinsss.mp4
media/douyin_dl1/urlsfile.mp4
media/douyin_dl1/1548860377.4929261.mp4
media/douyin_dl1/jLy5e.mp4
